{{ define "main" }}
<section id="main">
  {{ .Content }}
  <section id="photo-albums" class="flexbox-container">
    {{ if (ne .Title "Digital") }}
    {{ $film := site.GetPage "photos/film" }}
    <section id="{{ $film.Params.list_title }}" class="flexbox-container">
      <section class="frame">
        <img src="/photos/miranda_left.webp" alt="A Miranda Sensorex camera">
        <p>My Miranda Sensorex Camera</p>
      </section>
      {{ if (ne .Title "Film") }}
      <a href="{{ $film.RelPermalink }}">
        <h3>{{ $film.Params.list_title | title }}</h3>
      </a>
      {{ else }}
      <h3>{{ $film.Params.list_title | title }}</h3>
      {{ end }}
      <ul>
        {{ range sort $film.Pages "Title" "desc" }}
        <li>
          <a href="{{ .RelPermalink }}"
            class={{ cond ( .Params.new ) "new" "none" }}>{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ if (ne .Title "Film")}}
    {{ $digital := site.GetPage "photos/digital" }}
    <section id="{{ $digital.Params.list_title }}" class="flexbox-container">
      <section class="frame">
        <img src="/photos/fujifilm_right.webp" alt="A Fujifilm X-T10 camera">
        <p>My Fujifilm X-T10 Camera</p>
      </section>
      {{ if (ne .Title "Digital")}}
      <a href="{{ $digital.RelPermalink }}">
        <h3>{{ $digital.Params.list_title | title }}</h3>
      </a>
      {{ else }}
      <h3>{{ $digital.Params.list_title | title }}</h3>
      {{ end }}
      <ul>
        {{ range sort $digital.Pages "Title" "desc" }}
        <li>
          <a href="{{ .RelPermalink }}"
            class={{ cond ( .Params.new ) "new" "none" }}>{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  </section>
  <section id="zine"> 
    <section class="frame flexbox-container">
      <p>I printed a photo Zine of some of my favorite pictures I took during my sojourn in Japan from March to July 2025. I scanned the pages and created a PDF that can be viewed here.</p>
      <a href="/photos/zine.pdf"><img class="zoom" src="/photos/zine_cover.webp" alt="Front cover of a photo zine"></a>
    </section>
  </section>
</section>
{{ end }}
