{{ define "main" }}
<section id="main">
  {{ .Content }}
  <a hidden href="https://imgur.com/a/{{ .Params.album_id }}">Imgur Album</a>
  <section class="flexbox-container">
    {{ $path := .Path }}
    {{ $filepath := printf "static%s" $path }}
    {{ range readDir $filepath }}
    {{ if not (eq .Name "tiny") }}
      <a href="{{ $path }}/{{ .Name }}"><img id="{{ .Name }}" class="zoom" src="{{ $path }}/tiny/{{ .Name }}" alt="{{ .Name }}" title="{{replace .Name ".jpg" " " | title }}" class="element"></a>
    {{ end }}
    {{ end }}
  </section>
  <!-- Commenting this out because it doesn't work due to Neocities' Content Security Policy
  <p hidden id="album_id" >{{ .Params.album_id }}</p>
  <script type="module" src="/photos.js"></script>
  -->
</section>
{{ end }}
