{{ define "main" }}
<section id="main">
  <section id="recommendations">
    {{ .Content }}
    <section class="flexbox-container">
    {{ range $k, $v := .Params.sections }}
      <h3>{{ replaceRE `\d_` " " $k | title}}</h3>
      <section class="{{ $k }} flexbox-container">
        {{ range $v }}
          <div id="{{ .id }}" class="flexbox-container {{ .class }}">
            <a href="{{ .url }}"><img class="zoom" src="{{ .image }}" alt="{{ .title }} - {{ .creator }}" title="{{ .title }} - {{ .creator }}"></a>
            {{ if .expandable }}
            <p class="expandable shrunk">{{ .description }}</p>
            <button class="expand-toggle show-more" type="button"></button>
            {{ else }}
            <p>{{ .description }}</p>
            {{ end }}
          </div>
        {{ end }}
      </section>
    {{ end }}
    </section>
  </section>
</section>
{{ end }}
