/* Color Scheme */
:root {
  /* From new logo */
  --color1: #4B2273;
  --color2: #5C2B8C;
  --color3: #5671A6;
  --color4: #52D5F2;
  --color5: #F2F2F2;
  /* From old logo */
  --color6: #63038C;
  --color7: #510273;
  --color8: #AC80BF;
  --color9: #4E4259;
  --color10: #DFE2F2;
}


/* Elements have the lowest priority */
a:visited {
  color: var(--color1);
}

body {
  background-image: url(/images/smokeypurple.gif);
  color: var(--color2);
}

body .content {
  flex-direction: row;
  justify-content: space-between;
}

body .page {
  margin: 0 auto;
  width: 1070px;
}

img {
  max-width: 100%;
}


/* Classes have a higher priority */
.char.flexbox-container {
  align-items: center;
  background-color: var(--color8);
  border: 10px outset var(--color4);
  color: var(--color5);
  float: right;
}

.flexbox-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* IDs take highest priority */
#footer {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
  margin: 10px 0px;
}

#footer section.flexbox-container {
  flex-direction: row;
  justify-content: space-between;
}

#header {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
  margin: 10px 0px;
}

#main {
  background-color: var(--color10);
  border: 3px dotted var(--color3);
  margin: 0 10px;
  max-width: 650px;
  min-width: 650px;
}

#main section {
  margin: 10px 10px;
}

#sidebar {
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-start;
}

#sidebar div.flexbox-container {
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

#sidebar div .element {
  margin: 5px 0;
}

#sidebar h3 {
  font-size: small;
}

#sidebar section.flexbox-container {
  background-color: var(--color10);
  border: 3px dotted var(--color3);
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-start;
  min-width: 100%;
}

#sidebar section + section {
  margin-top: 10px;
}


/* Testing */
.flexbox-container {
  background-color: rgba(255, 192, 203, 0.226);
  outline: 3px solid rgba(255, 0, 0, 0.226);
}

/* Tutorials */
.box-tutorial {
  background-color: red;
  border: 10px solid black;
  height: 100px;
  margin: 50px;
  padding: 20px;
  width: 100px;
}

.flexbox-container-tutorial {
  align-items: center;
  background-color: yellow;
  display: flex;
}

.flexbox-item-tutorial {
  background-color: #dfdfdf;
  border: 3px solid #333;
  color: black;
  margin: 10px;
  width: 200px;
}

.flexbox-item-1-tutorial {
  align-self: flex-end;
  flex-shrink: 0;
  min-height: 100px;
}

.flexbox-item-2-tutorial {
  align-self: center;
  flex-basis: 0;
  flex-grow: 2;
  min-height: 200px;
}

.flexbox-item-3 {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 300px;
} 