{{- $currentPage := . -}}
<section id="sidebar-l" class="flexbox-container sidebar">
  {{ with .Site.Menus.main }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      {{ range . }}
        {{ if $currentPage.IsMenuCurrent .Menu . }}
          <a>{{ .Name }}</a>
        {{ else }}
          <a class="zoom" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>Follow me on</h3>
      <a href="https://neocities.org/site/rossmallow"><img class="zoom" src="/buttons/neocities.png" alt="Neocities"></a>
      <a href="https://instagram.com/rnelson2112"><img class="zoom" src="/buttons/instagram.png" alt="Instagram"></a>
    </div>
    <div class="flexbox-container">
      <h3>Links to cool sites!</h3>
      <!-- Using an object tag, I can default to hotlinking to a site's button allowing the owner to update it, but by including an img tag inside I can fall back on a local image if the hotlink fails -->
      <a class="zoom" href="https://www.cygnus-x1.net/links/rush/index.php"><object><img src="/buttons/cygnusx1.png" alt="Cygnus-X1.Net: A Tribute to Rush"></object></a>
      <a class="zoom" href="https://www.2112.net"><object><img src="/buttons/2112.png" alt="2112.net"></object></a>
      <a class="zoom" href="https://www.rushisaband.com"><object><img src="/buttons/rush_band.png" alt="Rush is a Band Blog"></object></a>
      <a class="zoom" href="https://twelvemen.neocities.org/index.html"><object data="https://twelvemen.neocities.org/12men.gif" type="image/jpeg" alt="Twelve Men"><img src="/buttons/12men.gif" alt="Twelve Men"></object></a>
      <a class="zoom" href="https://gamera.neocities.org/"><object data="https://files.catbox.moe/vql8cc.gif" type="image/jpeg" alt="Gamera"><img src="/buttons/gamera.png" alt="Gamera"></object></a>
      <a href="/buttons/">+ more</a>
    </div>
  </section>
</section>
