{{- $currentPage := . -}}
<section id="sidebar-l" class="flexbox-container sidebar">
  {{ with .Site.Menus.main }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      {{ range . }}
        {{ if $currentPage.IsMenuCurrent .Menu . }}
          <a>{{ .Name }}</a>
        {{ else }}
          <a class="zoom" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>Follow me on</h3>
      <a href="https://neocities.org/site/rossmallow"><img class="zoom" src="/buttons/neocities.png" alt="Neocities"></a>
      <a href="https://instagram.com/rnelson2112"><img class="zoom" src="/buttons/instagram.png" alt="Instagram"></a>
    </div>
    <div class="flexbox-container">
      <h3>Links to cool sites!</h3>
      <!-- Using an object tag, I can default to hotlinking to a site's button allowing the owner to update it, but by including an img tag inside I can fall back on a local image if the hotlink fails -->
      <a href="https://twelvemen.neocities.org/index.html"><object class="zoom" data="https://twelvemen.neocities.org/12men.gif" type="image/jpeg" alt="Twelve Men"><img class="zoom" src="/buttons/12men.gif" alt="Twelve Men"></object></a>
      <a href="https://99gifshop.neocities.org/"><object class="zoom" data="https://99gifshop.neocities.org/img/88x31.png" type="image/jpeg" alt="99Gif shop"><img class="zoom" src="/buttons/99gifshop.png" alt="99GIF shop"></object></a>
      <a href="https://daniele63.com/"><object class="zoom" data="https://daniele63.com/images/danieles_button.jpg" type="image/jpeg" alt="Daniele's Website"><img class="zoom" src="/buttons/danieles.png" alt="Daniele's Website"></object></a>
      <a href="https://neocreatives.neocities.org/"><object class="zoom" data="https://neocreatives.neocities.org/button.gif" type="image/jpeg" alt="Neocreatives"><img class="zoom" src="/buttons/neocreatives.gif" alt="Neocreatives"></object></a>
      <a href="/buttons/">+ more</a>
    </div>
  </section>
</section>
