{{- $currentPage := . -}}
<section id="sidebar-l" class="flexbox-container sidebar">
  {{ with .Site.Menus.main }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      {{ range . }}
        {{ if $currentPage.IsMenuCurrent .Menu . }}
          <a>{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>Follow me on</h3>
      <a href="https://neocities.org/site/rossmallow"><img class="zoom" src="/images/neocities.png"></a>
      <a href="https://instagram.com/rnelson2112"><img class="zoom" src="/images/instagram.png"></a>
    </div>
  </section>
</section>
