<section id="sidebar-r" class="flexbox-container sidebar">
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>Featured Funny</h3>
      <a href="{{ relref . "/recommendations/#featured-funny" }}"><img class="zoom"
          src="/recommendations/gg_rygar.jpg"></a>
    </div>
  </section>
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>Featured Photo</h3>
      <a href="{{ relref . "/photos/2025-04-05_hanami/#shed.jpg" }}"><img class="zoom" src="/photos/2025-04-05_hanami/shed.jpg"></a>
    </div>
  </section>
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3>1 Increment = 1 Like</h3>
      <iframe class="increment" src="//incr.easrng.net/badge?key=rossmallow" title="increment badge" width="88"
        height="31" frameborder="0"></iframe>
    </div>
    <!-- Commenting this out because it doesn't work due to Neocities' Content Security Policy
    <div class="flexbox-container">
      <h3>People viewing this site</h3>
      <a href="https://realtimeusers.bycontrast.co/"><div class="realtimeuserscounter"></div></a>
      <script src="https://realtimeusers.bycontrast.co/realtimeusers.js"></script>
    </div>
    -->
    <div class="flexbox-container">
      <!-- Added strikethrough becuase the guestbook doesn't work due to Neocitie's Content Security Policy -->
      <h3><s>Read and sign my guestbook</s></h3>
      <a href="/guestbook"><img class="zoom" src="/images/guestbook.gif" alt="Guestbook"></a>
    </div>
  </section>
</section>
