<section id="sidebar" class="flexbox-container">
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3 class="element">Things that make me laugh</h3>
      <a class="element" href="https://youtu.be/cEgL56I1uc8?si=iJbKl8keZkDpPt0l"><img class="zoom" src="/images/bloobryan.png" alt="A blue-skinned man with the caption 'Bloob Ryan'"></a>
      <a class="element" href="https://www.youtube.com/watch?v=8eW9FpnLRL0&t=716s"><img class="zoom" src="/images/oneyaimusic.jpg" alt="Oneyplays characters playing instruments"></a>
    </div>
  </section>
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3 class="element">Featured Photo</h3>
      <a class="element" href="{{ relref . "/photos/japan2024/#ise.jpg" }}"><img class="zoom" src="/photos/japan2024/ise.jpg" alt="A photo of 3 people in front of a Japanese building"></a>
    </div>
  </section>
  <section class="flexbox-container">
    <div class="flexbox-container">
      <h3 class="element">1 Increment = 1 Like</h3>
      <iframe class="element" src="//incr.easrng.net/badge?key=rossmallow" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
    </div>
  </section>
</section>
