{{ define "main" }}
<section id="main" class="flexbox-container">
  <section>
    <section class="char flexbox-container">
      <img src="/images/char.png" alt="Drawing of Rossmallow">
      <p>A cool drawring by my friend Sam</p>
    </section>
    {{ .Content }}
  </section>
  <section>
    <h3>Tutorial tools:</h3>
    <div class="box-tutorial">Box</div>
    <a href="https://www.youtube.com/watch?v=fYq5PXgSsbE">
      <div class="flexbox-container-tutorial">
        <div class="flexbox-item-tutorial flexbox-item-1-tutorial">Flexbox Item 1</div>
        <div class="flexbox-item-tutorial flexbox-item-2-tutorial">Flexbox Item 2</div>
        <div class="flexbox-item-tutorial flexbox-item-3-tutorial">Flexbox Item3</div>
      </div>
  </a>
  </section>
</section>
{{ end }}
