/* Color Scheme */
:root {
  /* From new logo */
  --color1: #4B2273;
  --color2: #5C2B8C;
  --color3: #5671A6;
  --color4: #52D5F2;
  --color5: #F2F2F2;
  /* From old logo */
  --color6: #63038C;
  --color7: #510273;
  --color8: #AC80BF;
  --color9: #4E4259;
  --color10: #DFE2F2;
}


/* Elements have the lowest priority */
a {
  margin-bottom: -4px; /*a tags add 4px of height to an image?*/
}

a:visited, a:link {
  color: inherit;
}

a.point-up::before {
  content: url(/images/arrow_up.gif);
  position: relative;
}

a.point-down::before {
  bottom: -1px;
  content: url(/images/arrow_down.gif);
  position: relative;
}

body {
  background-image: url(/images/smokeypurple.gif);
  color: var(--color2);
  min-width: 100%;
  padding: 0;
  margin: 0;

  .content.flexbox-container {
    flex-direction: row;
    flex-grow: 1;
    gap: inherit;
    justify-content: space-between;
    margin: 0 3px;
  }

  .page.flexbox-container {
    gap: 10px;
    margin: 0 auto;
    padding: 1%;
    width: 1070px;
    min-height: 1100px;
    justify-content: flex-start;
  }
}

img {
  max-width: 100%;
}


/* Classes have a higher priority */
.construction {
  background-image: url(/images/construction.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20px;
  margin-bottom: 5px;
  max-width: 100%;
  width: 350px;
}

.expand-toggle {
  cursor: pointer;
  height: 24px;
  width: 154px;

}

.expand-toggle.show-more {
  background-image: url(/images/show_more.png);
}

.expand-toggle.show-more:hover {
  background-image: url(/images/show_more.gif);
}

.expand-toggle.show-less {
  background-image: url(/images/show_less.png);
}

.expand-toggle.show-less:hover {
  background-image: url(/images/show_less.gif);
}

.expandable.expanded {
  height: inherit;
}

.expandable.shrunk {
  height: 8em;
  overflow: hidden;
  background-image: -webkit-linear-gradient(var(--color2), transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.float-right {
  float: right;
  margin-left: 1ch;
  margin-bottom: 1rem;
  max-width: 40%;
}

.frame {
  background-color: var(--color8);
  border: 10px outset var(--color4);
  color: var(--color5);
  text-align: center;
}

.home.flexbox-container {
  gap: 30px;
  justify-content: space-between;

  .flexbox-container {
    align-items: center;
    flex-direction: row;
  }
}

.line-through {
  text-decoration: line-through;
}

.new {
  background-image: url(/images/new_right.gif);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 20px;
}

.note {
  background-image: url(/images/note.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 316px;
  width: 300px;

  padding-top: 30px;
  padding-left: 40px;
  
  h3 {
    text-align: center;
    margin-bottom: 0px;
    width: 250px;
  }
  
  ul {
    line-height: 2em;
    max-height: 12.5em;
    overflow: hidden;
    width: 185px;
    
    li {
      margin-bottom: 0.5em;
    }
  }
  
  ul:hover {
    overflow-y: scroll;
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
    width: 195px;
  }
}

.sidebar {
  align-items: center;
  flex-grow: 1;
  gap: inherit;
  text-align: center;
  width: calc(15% - (0.25em + 10px)); /*0.25em for the margin 10px for the flex gap*/
  
  h3 {
    font-size: small;
    margin: 0;
  }

  p {
    font-size: small;
    margin: 0;
  }
  
  section.flexbox-container {
    background-color: var(--color10);
    border: 3px dotted var(--color3);
    flex-basis: 0;
    gap: 1em;
    justify-content: flex-start;
    min-width: 100%;
    
    div.flexbox-container {
      align-items: center;
      gap: 0.5em;
      justify-content: space-around;
      padding: 0.25em;
      padding-bottom: 0.5em;
      
      div.realtimeuserscounter {
        text-align: center;
        
        a {
          display: none;
        }
      }

      .increment {
        max-width: 100%;
      }
    }
  }

  section.flexbox-container:last-child {
    flex-grow: 1;
  }  
}

.zoom {
  transition: 0.5s ease-out;
}

.zoom:hover {
  transform: scale(1.02);
  transition: 0.5s ease-out;
}

/* IDs take highest priority */
#bass-covers {
  margin-bottom: 1em;

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;

    div {
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        margin-bottom: 0px;
      }

      .flexbox-container {
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        width: 100%
      }

      #video {
        width: 100%;

        iframe {
          aspect-ratio: 16/9;
          width: 100%;
        }
      }
    }
  }
}

#buttons {
  section.flexbox-container {
    button {
      height: 31px;
      width: 88px;
    }

    button:hover {
      cursor: pointer;
    }

    #button-default {
      background-image: url(/buttons/button.gif);
    }

    #button-alt {
      background-image: url(/buttons/button_alt.gif);
    }

    p {
      text-align: center;
      font-size: small;
    }

    div.flexbox-container{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2px;
    }
  }
}

#footer {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
  flex-direction: row;
  height: 125px;
  justify-content: space-around;

  section {
    width: 33%;

    #credits {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      margin: auto;
      max-width: calc((88px * 2) + 4px);
    }

    #github {
      align-items: center;
      gap: 0.5rem;

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}

#header {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
}

#imgur {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

#main {
  background-color: var(--color10);
  border: 3px dotted var(--color3);
  justify-content: flex-start;
  max-width: 650px;
  width: calc(70% - 1rem);
  padding: 0.5rem;
}

#photo-albums {
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  h3 {
    text-align: center;
  }
}

#photos {
  gap: 5px;
}

#recommendations {
  .flexbox-container {
    flex-wrap: wrap;
    gap: 3px;
    justify-content: flex-start;

    h3 {
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      justify-items: center;

      div {
        a {
          align-self: center;

          img {
            max-height: 121px;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

#sidebar-l {
  section.flexbox-container:first-child {
    line-height: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

#zine .frame {
  flex-direction: row;

  a {
    width: 30%;
  }

  p {
    align-self:center;
  }
}

/* Media Options */
@media screen and (max-width: 1070px) {
  #header {
    position: relative;

    .best-desktop {
      background-image: url(/buttons/best_desktop.png);
      background-repeat: no-repeat;
      bottom: 0px;
      height: 31px;
      position: absolute;
      right: 0px;
      width: 88px;
      margin: 1em;
    }
  }
}


/* Testing */
/*.flexbox-container {
  background-color: rgba(255, 192, 203, 0.226);
  outline: 3px solid rgba(255, 0, 0, 0.226);
}*/
