/* Color Scheme */
:root {
  /* From new logo */
  --color1: #4B2273;
  --color2: #5C2B8C;
  --color3: #5671A6;
  --color4: #52D5F2;
  --color5: #F2F2F2;
  /* From old logo */
  --color6: #63038C;
  --color7: #510273;
  --color8: #AC80BF;
  --color9: #4E4259;
  --color10: #DFE2F2;
}


/* Elements have the lowest priority */
a {
  margin-bottom: -4px; /*a tags add 4px of height to an image?*/

  img.zoom {
    transition: 0.5s ease-out;
  }
  
  img.zoom:hover {
    transform: scale(1.02);
    transition: 0.5s ease-out;
  }
}

a:visited, a:link {
  color: inherit;
}

body {
  background-image: url(/images/smokeypurple.gif);
  color: var(--color2);
  min-width: 100%;
  padding: 0;
  margin: 0;

  .content.flexbox-container {
    flex-direction: row;
    gap: inherit;
    justify-content: space-between;
    margin: 0 3px;
  }

  .page.flexbox-container {
    gap: 10px;
    margin: 0 auto;
    padding: 1%;
    width: 1070px;
  }
}

img {
  max-width: 100%;
}

li.new {
  background-image: url(/images/new.gif);
  background-position: left -2px;
  background-repeat: no-repeat;
  padding-left: 32px;
}

/* Probably a better way of adding the arrow */
/*li.new::before {
  content: url(/images/new.gif);
}*/

/* Classes have a higher priority */
.construction {
  background-image: url(/images/construction.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20px;
  margin-bottom: 5px;
  max-width: 100%;
  width: 350px;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.float-right {
  float: right;
  margin-left: 1ch;
  margin-bottom: 1rem;
  max-width: 40%;
}

.frame {
  background-color: var(--color8);
  border: 10px outset var(--color4);
  color: var(--color5);
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.note {
  background-image: url(/images/note.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 298px;
  width: 300px;

  section {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 55px;
    
    h3 {
      text-align: center;
    }
    
    ul {
      max-height: 150px;
      overflow: hidden;
      padding-right: 13px;
      
      li {
        margin-bottom: 0.5em;
      }
    }
    
    ul:hover {
      overflow-y: scroll;
      padding-right: 0px;
      scrollbar-width: thin;
      scrollbar-color: gray transparent;
    }
  }
}

.sidebar {
  align-items: center;
  flex-grow: 1;
  gap: inherit;
  text-align: center;
  width: calc(15% - (0.25em + 10px)); /*0.25em for the margin 10px for the flex gap*/
  
  div.flexbox-container {
    align-items: center;
    gap: 0.25em;
    justify-content: space-around;
    padding: 0.25em;
  }
  
  div.realtimeuserscounter {
    text-align: center;

    a {
      display: none;
    }
  }

  h3 {
    font-size: small;
    margin: 0;
  }

  section.flexbox-container {
    background-color: var(--color10);
    border: 3px dotted var(--color3);
    flex-basis: 0;
    justify-content: flex-start;
    min-width: 100%;

  }
  section.flexbox-container:last-child {
    flex-grow: 1;
  }

  #increment {
    max-width: 100%;
  }
}


/* IDs take highest priority */
#footer {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
  flex-direction: row;
  height: 125px;
  justify-content: space-around;

  section {
    width: 33%;

    #credits {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      margin: auto;
      max-width: calc((88px * 2) + 4px);
    }

    #github {
      align-items: center;
      gap: 0.5rem;

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}

#header {
  align-items: center;
  background-color: var(--color2);
  border: 3px dotted var(--color3);
  color: var(--color5);
}

#main {
  background-color: var(--color10);
  border: 3px dotted var(--color3);
  max-width: 650px;
  width: calc(70% - 1rem);
  padding: 0.5rem;
}

#recommendations {
  .flexbox-container {
    flex-wrap: wrap;
    gap: 3px;
    justify-content: flex-start;

    h3 {
      text-align: center;
    }

    .flexbox-container {
      flex-direction: row;
      
      div {
        flex-direction: column;
        width: 33%;

        a {
          align-self: center;

          img {
            max-height: 121px;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}


/* Media Options */
@media screen and (max-width: 1070px) {
  #header {
    position: relative;

    .best-desktop {
      background-image: url(/images/best_desktop.jpg);
      background-repeat: no-repeat;
      bottom: 0px;
      height: 31px;
      position: absolute;
      right: 0px;
      width: 88px;
      margin: 1em;
    }
  }
}


/* Testing */
/*.flexbox-container {
  background-color: rgba(255, 192, 203, 0.226);
  outline: 3px solid rgba(255, 0, 0, 0.226);
}*/


/* Tutorials */
.box-tutorial {
  background-color: red;
  border: 10px solid black;
  height: 100px;
  margin: 50px;
  padding: 20px;
  width: 100px;
}

.flexbox-container-tutorial {
  align-items: center;
  background-color: yellow;
  display: flex;
}

.flexbox-item-tutorial {
  background-color: #dfdfdf;
  border: 3px solid #333;
  color: black;
  margin: 10px;
  width: 200px;
}

.flexbox-item-1-tutorial {
  align-self: flex-end;
  flex-shrink: 0;
  min-height: 100px;
}

.flexbox-item-2-tutorial {
  align-self: center;
  flex-basis: 0;
  flex-grow: 2;
  min-height: 200px;
}

.flexbox-item-3 {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 300px;
}
