/* Elements have the lowest priority */
body {
  background-image: url(/images/smokeypurple.gif);
  color: white;
}

body .content {
  align-self: center;
  max-width: 80%;
}

nav {
  color: lightblue;
}


/* Classes have a higher priority */
.flexbox-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purple {
  color: purple;
}


/* IDs take highest priority */
#footer {
  align-items: center;
}

#header {
  align-items: center;
  background-color: lightblue;
  border: 3px solid orange;
  color: black;
}

#index .flexbox-container {
  align-items: center;
}

#logo {
  flex-basis: 2;
}


/* Testing */
/*.flexbox-container {
  background-color: rgba(255, 192, 203, 0.226);
  border: 3px solid rgba(255, 0, 0, 0.226);
}*/


/* Tutorials */
.box-tutorial {
  background-color: red;
  border: 10px solid black;
  height: 100px;
  margin: 50px;
  padding: 20px;
  width: 100px;
}

.flexbox-container-tutorial{
  align-items: center;
  background-color: yellow;
  display: flex;
}

.flexbox-item-tutorial {
  background-color: #dfdfdf;
  border: 3px solid #333;
  color: black;
  margin: 10px;
  width: 200px;
}

.flexbox-item-1-tutorial {
  align-self: flex-end;
  flex-shrink: 0;
  min-height: 100px;
}

.flexbox-item-2-tutorial {
  align-self: center;
  flex-basis: 0;
  flex-grow: 2;
  min-height: 200px;
}

.flexbox-item-3 {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 300px;
} 